.git
.gitignore
.pytest_cache
.ruff_cache
.venv
**/.DS_Store
**/__pycache__
**/*.pyc

backend/.env
backend/db
data
images

frontend/node_modules
frontend/dist
node_modules

Dockerfile
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal
